body{
    background-color: #6b0685
}

h1{
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: rgb(212, 199, 243);
}

h2{
    font-size: 16px;
    font-family: Comic Sans MS;
    color: rgb(212, 199, 243);
}

input[type = "text"]{
    font-family: Comic Sans MS;
    font-weight: bold;
}

.tex{
    font-size: 16px;
    font-family: Comic Sans MS;
    color: rgb(212, 199, 243);
}